[2012-10-12 07:00] bit-pirate opened #1 "Missing nodelet manager in create.launch"
In that launch file we start some nodelets, but no manager. Those nodelets usually get load into openni's nodelet manager. Since this is not the case when simulating turtlebot, I added an extra nodelet manager.

Do I miss something here? If not, I would add this nodelet manager to the create launch files as well.

[2012-10-12 07:01] bit-pirate opened #2 "Default laser scanner in Turtlebot simulation"
There is one in the Turtlebot1 description. Shall we do the same for Turtlebot2?

[2012-11-02 03:49] stonier opened #3 "Make sure create/circles simulation is working"
Not worrying about kobuki simulation for now - we'll do that for groovy. But we need the original gazebo working for fuerte.

[2012-11-02 08:03] stonier commented on #3
Done.

[2012-11-02 08:03] #3 closed, assigned to jihoonl

[2012-12-27 04:54] jihoonl opened #4 "pointcloud_to_laserscan -> depthimage_to_laserscan"
_create.launch
_kobuki.launch

[2013-01-14 02:25] bit-pirate opened #5 "Turtlebot Gazebo simulation in Groovy"
For this to work, Kobuki & Create simulations need to be working. Work on these can can be tracked here:
Kobuki: https://github.com/yujinrobot/kobuki_desktop/issues/8
Create: ?

Turtlebot-specific issue will be posted here.

Current issues:
- <del>Kinect simulation (Kinect's ROS Gazebo plugin) crashes. Ticket files for Gazebo:</del>
  - <del>https://bitbucket.org/osrf/gazebo/issue/557/camera-senso

[2013-01-18 08:19] corot commented on #4
Cannot run gazebo by now to check what the simulated 3D camera provides: point cloud, depth image or both

[2013-01-18 08:58] bit-pirate commented on #4
I would say, just remove it. I'll add it again in case we really need it.

[2013-01-22 00:22] stonier commented on #5
Tully mentioned that he would chase up John Tsu(?) to see if he can kickstart us in the right direction.

[2013-01-22 01:07] bit-pirate commented on #5
John Hsu. :-)

[2013-03-28 02:21] bit-pirate opened #6 "Move create_gazebo_plugin to turtlebot_create_desktop"
... to seperate create-specfic files from turtlebot ones.

[2013-04-06 17:25] tfoote opened #7 "missing run depends on turtlebot stack for turtlebot_description"
The launch file calls find turtlebot_description.

http://answers.ros.org/question/58360/when-launching-simulator-errorinvalid-arg-tag-turtlebot_description/

[2013-04-09 00:33] bit-pirate commented on #7
Sorry for the spam! Was training myself to isolate specific commits using branch, commit, reset, delete branch, branch, commit and so on ... :-)
The pull request should do the trick.

[2013-04-09 08:12] #7 closed, assigned to bit-pirate

[2013-04-09 09:30] stonier opened #9 "Officially release in hydro"
This is just a heads up. For now we're removing turtlebot_simulator from the deb releases - it is not officially supported (there are a couple of blocks) and costing us time to keep an eye on the debs on the build farm.

If you're wanting to workaround the issues, feel free to play with the sources.

If the status quo should magically change, we'll update back here.

[2013-06-09 04:41] dikke opened #11 "need help! running gazebo simulation on groovy"
Hello

I am trying to run the launch the turtlebot on gazebo (Gazebo multi-robot simulator, version 1.5.0) by running:

[code]

and I got the following error message :

   Error [parser.cc:712] XML Element[sensor:contact], child of element[link] not defined in      SDF. Ignoring.[link]
Error [parser.cc:703] Error reading element <link>
Error [parser.cc:703] Error reading element <model>
Error [par

[2013-06-11 16:38] stonier commented on #11
We're not working on this any longer for groovy - waiting for hydro to push out with some updates that should make the last few things work that the gazebo team couldn't commit time for (given their schedule with the darpa challenge).

I'd recommend waiting for that.

[2013-06-18 08:56] bit-pirate commented on #11
https://github.com/turtlebot/turtlebot_simulator/issues/9

[2013-06-18 08:59] bit-pirate opened #12 "Move Gazebo-related stuff out of the turtlebot stack"
I.e. Gazebo information inside the URDFs/Xacros in turtlebot_description.

One idea:
Duplicate the robot urdfs from turtlebot_description and add the turtlebot_gazebo.urdf.xacro include where necessary. That duplication s****, but it would allow a clear separation.

[2013-06-18 16:01] dikke commented on #11
thank you very much for your reply.The reason I am using turtlbot_simulator is because I want to see how the navigation stack works on the other robot. And then apply the similar things to my own robot. I have tried erractics, robintino, turtlebot simulator, but they all outdated and no longer support. Do you know any simulator (gazebo) that is updated and supported ? Thanks!

[2013-06-24 06:30] bit-pirate commented on #5
New Kinect/3d sensor plugin is working fine now.

Kobuki simulation issues TODO.

[2013-07-08 05:55] bit-pirate commented on #6
done.

[2013-07-08 05:55] #6 closed, assigned to bit-pirate

[2013-08-01 05:23] bit-pirate commented on #4
I just tested it and it works well - once this bug in the Kinect ROS Gazebo plugin is fixed: https://github.com/ros-simulation/gazebo_ros_pkgs/issues/95.
Currently, that plugin does not publish on the camera info topic, what prevents depthimage_to_laserscan from publishing laserscans.

So, I'll leave it commented out until that bug is resolved.

[2013-08-01 05:24] bit-pirate commented on #2
Yes, it will be added. Follow issue https://github.com/turtlebot/turtlebot_simulator/issues/4 for more details.

[2013-08-01 05:24] #2 closed, assigned to bit-pirate

[2013-08-01 05:27] bit-pirate commented on #11
@dikke the turtlebot simulator will be ready soon. Stay tuned to issue #9 to follow up on the progress.
I'll close this issue for now. For general questions about simulators, I recommend using ROS Answers (http://answers.ros.org/). If you have turtlebot_simulator-related questions, please publish them on the mentioned issue.

[2013-08-01 05:27] #11 closed, assigned to bit-pirate

[2013-08-01 05:29] bit-pirate commented on #5
We are not supporting TurtleBot simulation in Groovy. Issue #9 tracks the progress for the Hydro release.

[2013-08-01 05:29] #5 closed, assigned to bit-pirate

[2013-08-01 05:35] bit-pirate commented on #9
The Kinect issue is gone. Still there are some Gazebo bugs in our way. Since they are related to the Kobuki simulation, you find a detailed list there: https://github.com/yujinrobot/kobuki_desktop/issues/8

Any Create-related issues will be tracked here: https://github.com/turtlebot/turtlebot_create_desktop/issues/3

[2013-08-06 06:48] bit-pirate commented on #9
If possible we should get the issues https://github.com/turtlebot/turtlebot_simulator/issues/1 and https://github.com/turtlebot/turtlebot_simulator/issues/4 fixed as well before the Hydro release:

[2013-08-14 05:23] bit-pirate commented on #4
The fixed kinect plugins has been re-released. Issue solved.

[2013-08-14 05:23] #4 closed, assigned to bit-pirate

[2013-08-22 09:44] bit-pirate opened #13 "Add diagnostics output"
For the turtlebot_dashboard it would be nice to have diagnostics output.

[2013-08-22 09:49] bit-pirate commented on #1
Fixed by https://github.com/turtlebot/turtlebot_simulator/commit/74e778d80667654f129149f778e0db6f4c6ef144.

[2013-08-22 09:49] #1 closed, assigned to bit-pirate

[2013-08-22 09:50] bit-pirate commented on #9
Issue #1 and #4 are solved. Remaining issues can be found in kobuki's and create's desktop repos as mentioned above.

[2013-08-22 10:07] stonier commented on #13
Why is this issue here?

[2013-08-22 23:10] bit-pirate commented on #13
We need to check that all the required info is being published to diagnostics. Since I see this as a nice addon, I put it as TODO.

[2013-08-24 08:02] corot opened #14 "Make navigation demos on Gazebo"
Do something similar to amcl/gmapping demos on turtlebot_navigation and update [wiki tutorials](http://www.ros.org/wiki/turtlebot_simulator/Tutorials/hydro/Make%20a%20map%20and%20navigate%20with%20it)

[2013-08-24 08:25] corot opened #15 "Add bugtracker and repo info to package.xml"

[2013-08-24 08:31] #15 closed, assigned to corot

[2013-08-26 08:18] corot opened #16 "Replace launch/include by the standard includes"

[2013-08-28 09:46] #16 closed, assigned to corot

[2013-08-28 10:32] corot commented on #14
waiting for ros wiki to update the tutoriasl

[2013-08-30 04:38] bit-pirate commented on #9
Create is more or less working and for Kobuki only wiki doc jobs are left. Release has been triggered as well. So, considering this done.

[2013-08-30 04:38] #9 closed, assigned to bit-pirate

[2013-08-30 08:07] corot commented on #14
http://wiki.ros.osuosl.org/turtlebot_simulator/Tutorials/hydro/Make%20a%20map%20and%20navigate%20with%20it

[2013-08-30 08:07] #14 closed, assigned to corot

[2013-09-25 05:21] bit-pirate opened #17 "Models for playground are not loading"
Mentioned here: http://answers.gazebosim.org/question/4399/turtlebot_gazebo-world-not-loading-models/
And already ticketed for Kobuki simulation here: https://github.com/yujinrobot/kobuki_desktop/issues/21

[2013-09-25 05:29] bit-pirate commented on #17
Following up here: https://bitbucket.org/osrf/gazebo/issue/806/gzclient-does-not-download-missing-models

[2013-11-14 12:21] hofes opened #18 "Dependency Error during Gazebo and Turtlebot Simulator Installation"
We are facing troubles installing the turtlebot-simulator package via apt-get with
sudo apt-get install ros-hydro-turtlebot-simulator

The error we get is:
Depends: ros-hydro-turtlebot-gazebo but it is not going to be installed

If going on and trying to install ros-hydro-turtlebot-gazebo leads to other missing packages.

We also tried to install according to the gazebo website (http://gazebosim.o

[2013-11-14 18:27] tfoote commented on #18
You cannot use gazebo-current (currently 2.0) and ROS binaries built on top of gazebo (1.9.x) together. If you want to install ros-hydro packages which depends on gazebo you will need to switch to having gazebo installed instead of gazebo-current.

http://gazebosim.org/wiki/Install/Gazebo_and_ROS

@hsu @nkoenig It might be good to update this tutorial to mention how to use the gazebo-current versi

[2013-11-14 18:27] #18 closed, assigned to nobody

[2014-06-03 00:05] stonier opened #21 "Stage uses it's own move base launchers and params"
I would prefer if we could use the actual turtlebot's launchers so we make sure we immediately simulate what we are actually using (this is intuitive - takes a while of digging around to realise that we aren't) as well as helping to make sure that our parameters/configuration is in sync (again, this is intuitive - I didn't expect to find a different configuration).

[2014-06-03 00:07] stonier commented on #21
Definitely shouldn't have experimental ces waiterbot configuration in here.

[2014-06-03 00:56] stonier commented on #21
The pull request above redirects everything back to the real turtlebot configuration. If folk want to experiment, _that_ should be the starting place (it's too hard to maintain copies in sync). They can then fork/branch/create their own launchers for their own experimentation.

[2014-06-05 01:30] jihoonl commented on #21
both indigo and hydro-devel in turtlebot_simulator uses turtlebot_navigation configuration from now on.

[2014-06-05 01:30] #21 closed, assigned to nobody

[2014-06-25 21:22] tm507211 opened #23 "Ros Indigo Turtlebot Gazebo Simulator -- Failed to load models and publish /camera/* and /odom/ topics"
I know that the turtlebot packages for ROS Indigo are not yet supported/finished but I hope reporting this issue can help you find and fix the issue.

When launching the turtlebot gazebo simulator using

roslaunch turtlebot_gazebo turtlebot empty_world.launch

A segfault occurs, (I believe in the gzserver), and the gazebo-2 process dies.

The gazebo client window will remain open however none of t

[2014-06-25 21:27] mikeferguson commented on #23
This is almost certainly due to https://github.com/ros/rosdistro/issues/4633 since the turtlebot would be using a URDF.

[2014-06-29 10:32] corot opened #25 "Is "experiments" branch a redundancy of "experimental"?"
Remove if so

[2014-06-29 12:50] stonier commented on #25
Since it's in hydro-devel timeline and there's no-one using it, I've deleted `experiments`.

[2014-06-29 12:50] #25 closed, assigned to stonier

[2014-07-24 10:44] vliedel opened #26 "install on indigo"
Hi i'm trying to compile the indigo branch, but for some reason catkin doesn't even seem to try compiling turtlebot_simulator. When I do catkin_make --force-cmake, i do see turtlebot_simulator in the "traversing .. packages" list, however the package is not found when i try to roscd, or try to tab complete with catkin_make --pkg
Any ideas what to try?

[2014-07-24 16:08] vliedel opened #27 "install on indigo"
Hi i'm trying to compile the indigo branch, but for some reason catkin doesn't even seem to try compiling turtlebot_simulator. When I do catkin_make --force-cmake, i do see turtlebot_simulator in the "traversing .. packages" list, however the package is not found when i try to roscd, or try to tab complete with catkin_make --pkg
Any ideas what to try?

(sorry if this is a repost, my issue seem to

[2014-07-24 16:10] vliedel commented on #27
was a repost after all

[2014-07-24 16:10] #27 closed, assigned to nobody

[2014-07-24 16:20] stonier commented on #26
Did the force-cmake succeed? And did you re-source `devel/setup.bash` once done?

[2014-07-25 08:08] vliedel commented on #26
force-cmake did succeed (however there is no "built target turtlebot_simulator), source devel/setup.bash didn't help.
When i catkin_make --pkg turtlebot_gazebo, it does run make in the correct dir (turtlebot_simulator/turtlebot_gazebo) without error.

[2014-09-11 10:34] SergioMP commented on #26
Hello. Did anyone succeed on the Indigo compilation? Or should I go back to Hydro for the time being?

[2014-09-11 15:50] stonier commented on #26
@jihoonl you've been playing around with turtlebots on gazebo in indigo, thoughts on this one?

[2014-09-11 15:57] corot commented on #26
For me, all compiled and worked out-of-the-box :neckbeard:

[2014-09-11 17:07] mikeferguson commented on #26
It doesn't look like there is anything to "compile" -- once it gets added to the path, it is just a pile of launch files...

[2014-09-12 01:45] stonier commented on #26
The kobuki/create plugins underneath need compiling though. From a quick look it appears as if everything is compiling and two people have managed to get gazebo kobuki based turtlebots running without any special hacks.

@vliedel it sounds like you are having a workspace environment problem rather than a turtlebot simulator problem.

Closing this for now, reopen with a new issue if anything specif

[2014-09-12 01:45] #26 closed, assigned to nobody

[2014-09-23 16:05] correll opened #31 "turtlebot_simulator indigo debian"
Hi

I'm teaching a robotics class that uses the turtlebot simulator. Unfortunately, the classroom was already upgraded to Ubuntu 14.04, requiring us to use ROS indigo. Can somebody please create an Indigo debian for the turtlebot simulator?

Thanks
Nikolaus

[2014-09-25 10:01] schultza opened #33 "Problems starting amcl_demo"
Hey,

since some time I am not able to let the amcl demo run.
I am just starting the program with following command:
roslaunch turtlebot_gazebo amcl_demo.launch map_file:=/home/schultza/my_map.yaml

my_map was created some time before.

Here is the output:

... logging to /home/schultza/.ros/log/c1a96b00-4495-11e4-b4f1-485ab604aada/roslaunch-Andreas-1030.log
Checking log directory for disk usage.

[2014-09-25 23:47] jihoonl commented on #33
I have tested amcl_demo in indigo, and worked fine without any error. Also hydro release has not been touched for a while.

Can you post more information like how you installed and how you started? a log with `--screen` flag would be helpful too.

Also It seems like the system cannot find `move_base`. Did you install `move_base` package?

[2014-09-26 07:24] schultza commented on #33
First thanks for your answer:

Here is the output with `--screen` flag:

schultza@Andreas:~$ roslaunch turtlebot_gazebo amcl_demo.launch map_file:=/home/schultza/my_map.yaml --screen
... logging to /home/schultza/.ros/log/5181c7de-454c-11e4-9ad3-485ab604aada/roslaunch-Andreas-3724.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk

[2014-09-26 07:40] jihoonl commented on #33
Hm..this is weird. It seems like configuration issue rather than turtlebot_simulator code problem. Could you ask on ROS Answers? I think you can get better answer there.

[2014-09-26 09:01] schultza commented on #33
Hm, i got the problem. I accidently installed the hydro branch of turtlebot stuff. So my bad. I am sorry and thanks for your time. You can close or better delete :)

[2014-09-26 09:09] #33 closed, assigned to nobody

[2014-10-28 05:34] jihoonl opened #37 "turtlebot_stdr dependency fix."
[run_depend `stdr`](https://github.com/turtlebot/turtlebot_simulator/blob/indigo/turtlebot_stdr/package.xml#L18) is not an actual package name.

It should depend on `stdr_robot`, `stdr_server`, and `stdr_gui` which are actually used in [here](https://github.com/turtlebot/turtlebot_simulator/blob/indigo/turtlebot_stdr/launch/turtlebot_in_stdr.launch)

[2014-10-28 05:41] #37 closed, assigned to nobody

[2014-10-28 05:41] jihoonl commented on #37
https://github.com/turtlebot/turtlebot/issues/169

[2014-11-03 07:14] jihoonl opened #38 "turtlebot_stdr missing stdr_resources run_depend"
[code]

[2014-11-03 07:16] #38 closed, assigned to nobody

[2014-11-17 03:43] jihoonl opened #39 "use args to switch gazebo world"
Before

After

[2014-11-17 03:44] #39 closed, assigned to nobody

[2014-11-19 01:42] stonier opened #40 "Allow users to launch turtlebot gazebo with their own worlds"
We added a corridors world to turtlebot gazebo and a launcher rosarg for it, but it isn't very flexible as it requires the map to be in turtlebot_gazebo.

To be consistent too, we should follow what was done for [turtlebot_stage](https://github.com/turtlebot/turtlebot_simulator/blob/indigo/turtlebot_stage/launch/turtlebot_in_stage.launch) with environment variables and catkin environment hooks for

[2014-11-19 01:43] stonier commented on #39
A followup for a more flexible/consistent approach is opened in #40.

[2014-11-27 09:30] bit-pirate opened #42 "maze map and world don't align"
Even with zero noise and AMCL deactivated there is an offset between the position of the walls perceived by the robot and shown by the map in RViz.

Might be the map resolution and/or origin is wrong.

@alexreimann FYI

[2014-12-02 03:41] stonier commented on #42
Was this for stage, stdr or gazebo?

[2014-12-02 03:42] stonier commented on #31
Its in the works...

[2014-12-02 03:42] #31 closed, assigned to stonier

[2014-12-02 03:47] AlexReimann commented on #42
Stage

[2014-12-29 04:20] #42 closed, assigned to nobody

[2014-12-30 07:16] #40 closed, assigned to nobody

[2014-12-30 07:20] jihoonl commented on #23
I wonder if this issue is still valid.

[2014-12-30 07:20] jihoonl commented on #23
Please reopen this if it is still a problem.

[2014-12-30 07:20] #23 closed, assigned to nobody

[2014-12-30 07:21] jihoonl commented on #17
Playground is loading well now. Also referenced issue has been resolved.

[2014-12-30 07:21] #17 closed, assigned to bit-pirate

[2014-12-30 07:21] jihoonl opened #44 "add turtlebot_stdr in meta package"

[2014-12-30 07:22] #44 closed, assigned to nobody

[2015-03-16 05:18] jihoonl opened #45 "asus mount and pole are not visualising in gazebo"
With the following error.
[code]

It seems like FBX collada exported model, `sensor_polo.dae` and `xtion_pro_stack.dae`, are not loadable in gazebo.

[2015-03-19 02:01] jihoonl opened #46 "turtlebot_stdr bringup dies 8 out of 10"
[code]

[2015-03-19 02:39] jihoonl commented on #46
`robot_manager` crashes almost 9 out of 10 times with deb version. Somehow source version fails less.

[2015-03-20 01:38] stonier commented on #46
I think perhaps we have to drop this. While it looked good, it took alot of work to get it in...and it's still  changing underneath us. We don't have the resources to keep up with it.

[2015-03-20 02:34] jihoonl commented on #46
Do you mean dropping from documentation only or dropping the deb release as well?

[2015-04-20 05:38] marjinal1st opened #48 "Resetting Gazebo Simulation Problem"
I'm using ROS Indigo on Ubuntu 14.04.

Whenever I reset the simulation on Gazebo (Edit - Reset World), all the movement stops and I've to relaunch the simulation on **turtlebot_gazebo** package again.

Is there a way to reset the simulation properly without relaunching it?

[2015-06-21 07:15] AlexReimann opened #49 "Resolution in world and map file of maze map are different"
In the maze.world file it says 0.02 and in the maze.yaml it says 0.05.

My guess is that the resolution in the world file actually doesn't matter (as far as I remember the resolution is calculated from the size given in the map file, as I wrote [here](http://wiki.ros.org/turtlebot_stage/Tutorials/indigo/Customizing%20the%20Stage%20Simulator#Map_changes))

[2015-09-16 02:53] jihoonl opened #51 "[turtlebot_stage] set view target frame as base_link"
So rviz camera follows robot.

[2015-09-16 02:53] #51 closed

[2016-04-06 06:44] libing64 commented on #46
Is the bug fixed?
The stdr_gui_node dies every time on my computer.  I am using ubuntu14.04 and ros indigo.

[stdr_gui_node_libing0_18101_4696702751935649166-5] process has died [pid 18339, exit code -11, cmd /opt/ros/indigo/lib/stdr_gui/stdr_gui_node __name:=stdr_gui_node_libing0_18101_4696702751935649166 __log:=/home/libing/.ros/log/a227098c-fbc2-11e5-bd9c-28d244dc300f/stdr_gui_node_libing0_1810

[2016-04-23 15:12] MichaelKorn opened #53 "turtlebot_in_stage.launch robot description incompatible: kobuki_description vs stage_ros"
Hello,
there is an issue with this tutorial: http://wiki.ros.org/turtlebot_stage/Tutorials/indigo/Bring%20up%20TurtleBot%20in%20stage

The height of the robot base is jumping all the time. This is aggravating due to the camera in rviz is fixed to the robot base by default.
This happens because [stage_ros sends the identity transformation between base_footprint an base_link](https://github.com/ros-

[2016-04-25 06:49] jihoonl commented on #53
This is also related to [Change in robot state publisher](https://github.com/ros/robot_state_publisher/pull/39). This PR has changed the default value use_tf_static = False.

[2016-06-17 20:02] 130s opened #54 "[Kinetic] ROS nodes and Gazebo not linking"
I might be doing something wrong, but let me just think out loud.

[code]

Nodes graph tells there's a breakage.
![rosgraph_turtlebot_gazebo_kinetic_fail](https://cloud.githubusercontent.com/assets/1840401/16162834/a4909d90-348a-11e6-97f9-8942efd0b945.png)

As a reference here's one I got on Indigo machine.

![rosgraph](https://cloud.githubusercontent.com/assets/1840401/16162733/1e37a770-348a-11e6

[2016-07-09 01:17] rohbotics commented on #54
Are you trying to simulate the create or the koubuki base?

[2016-07-09 01:25] 130s commented on #54
Kobuki base for this.

[2016-07-09 14:05] rohbotics commented on #54
Add my fork of kobuki_desktop to your catkin_ws, and checkout the kinetic branch. This has all the modifications needed to get the gazebo plugin to compile and work under Gazebo7 (used with kinetic).

https://github.com/rohbotics/kobuki_desktop/tree/kinetic
https://github.com/yujinrobot/kobuki_desktop/pull/45

[2016-07-14 23:39] 130s opened #55 "Release into kinetic"
I'm sure it's in someone's todo list, and sorry if it's already WIP, but I open a ticket just because I didn't see it on [buildfarm's status page](http://repositories.ros.org/status_page/ros_kinetic_default.html?q=turtlebot).

[2016-07-15 00:15] 130s commented on #54
I compiled https://github.com/rohbotics/kobuki_desktop/commit/e1e53436502f3fa0c54aaab6cd8620883d08a3ea in my catkin ws and tried the same command but still see the same issue. Thanks though.

I don't seem to have compilation issue. It seems to me a runtime issue.

[2016-07-16 00:59] stonier commented on #55
I've got to get kobuki desktop fixed and released.  But coming very soon.

[2016-08-07 14:36] NoviceMan commented on #54
sorry , my English is very poor. I have met the same problem with you ,did you have solved this problem now?  If you have，could you tell me the solution？Thank you very much.

[2016-08-10 22:24] stonier commented on #54
@rohbotics did you see the same runtime problem?

[2016-08-11 17:07] rohbotics commented on #54
I saw this, but it went way for me with the changes I made.

[2016-08-13 02:02] stonier commented on #54
Kobuki Gazebo Plugins is in the deb pipeline. For those having trouble, could you grab the deb from the shadow repository and see if that works for you?

[2016-08-15 19:15] 130s commented on #54
Thank you @stonier, I confirmed that the issue is gone using the newest `kobuki_gazebo_plugins` from deb.
(I don't understand why source-building @rohbotics' code didn't work earlier, but I'm happy now :) and won't dig into it.)

Closing the issue since I'm the original reporter. Others who still see this issue feel free to add comments so that I or maintainers can re-open.

[code]

[2016-08-15 19:15] #54 closed

[2016-08-16 07:31] ghost commented on #55
Thanks @stonier for working on this.  Looking forward to it!

[2016-08-16 19:09] spragunr commented on #55
Thanks @stonier for this and for all of your work supporting Turtlebot. Is there an ETA for releasing turtlebot_simulator for kinetic?  I'm teaching a course in the fall and need to decide whether the lab can be updated to kinetic.  This seems to be the last missing piece.

[2016-08-16 21:55] tfoote commented on #55
https://github.com/ros/rosdistro/pull/12387

[2016-08-16 21:55] #55 closed

[2016-08-18 11:19] bmagyar opened #56 "Simulation crash, TURTLEBOT_GAZEBO_WORLD_FILE undefined"
Hey guys,
The [wiki](http://wiki.ros.org/turtlebot_gazebo/Tutorials/indigo/Gazebo%20Bringup%20Guide#Execution) instruction for starting up the gazebo simulation seems to be broken. When I hardcoded a value to turtlebot_gazebo into the launch file in question, things started working fine.

Wouldn't a solution similar to [this](https://github.com/pal-robotics/tiago_simulation/blob/indigo-devel/tiago

[2016-08-18 14:59] stonier commented on #56
The environment variable `TURTLEBOT_GAZEBO_WORLD_FILE` is defined in the environment hooks. The only way you'll get an undefined variable is if that package hasn't been compiled and the environment hooks not installed OR you've compiled it, but haven't re-sourced your environment to get the environment variable itself. It _might_ be a problem with Xenial/Kinetic's handling of environment hooks - I

[2016-08-18 15:16] bmagyar commented on #56
Ok. Thanks for the answer. Indeed it started working just ok once I re-sourced after installing the debian packages.

[2016-08-18 15:16] #56 closed

[2016-09-09 12:08] Nestor94Gonzalez opened #57 "Turtlebot spinning in place + not going straight"
Hello,
As I show in the videos above, the Turtlebot is spins around itself a bit, which could affect the direction when I try to go straight. When the real time factor (simulation speed) is normal the robot makes an acceptable straight line, but when the simulation is set to maximum the robot clearly turns to the right. This strange behaviour does not happen in empty worlds, just when the robot is

[2016-09-09 17:16] tfoote commented on #57
Please ask questions on http://answers.ros.org according to our support policy: http://wiki.ros.org/Support We try to keep the issue tracker reserved for bugs and feature developments.

When you re-ask please note that your youtube videos are private and unviewable.

[2016-09-09 17:16] #57 closed

[2016-09-21 12:46] pirobot opened #58 "amcl_demo.launch results in crazy spinning behavior"
This is right of the box on a new ROS Indigo install under Ubuntu 14.04.  To reproduce run:

    $ roscore
    $ roslaunch turtlebot_gazebo turtlebot_world.launch
    $ roslaunch turtlebot_gazebo amcl_demo.launch
    $ roslaunch turtlebot_rviz_launchers view_navigation.launch

Now set a 2D Nav Goal in RViz and robot executes a spiral path toward goal.

[2016-09-21 17:12] tfoote commented on #58
This looks like a duplicate of: https://github.com/turtlebot/turtlebot_apps/pull/140

[2016-09-21 17:40] #58 closed

[2016-11-02 07:22] airjohnson opened #59 "How to add moving obstacles to "turtlebot_stage""
Hi,
    I'm trying to add moving obstacles to the "turtlebot_stage". According to the tutorial (http://wiki.ros.org/turtlebot_stage/Tutorials/indigo/Customizing%20the%20Stage%20Simulator), moveable objects can be added to the map.
     I tried to add velocity definition to the "myBlock.inc" and "maze.world" files, and I also referred to the  model file definition (http://wiki.ros.org/turtlebot_sta

[2017-02-24 07:57] rohbotics opened #62 "New release?"
The current version of turtlebot_stage available from debs is broken due to changes in the path to amcl. Looks like these bugs were already fixed in the from source code, but is still broken in the release version. A re-release should fix this.

[2017-02-24 09:48] asimay opened #63 "turtlebot present gazebo launch doesn't compatible gazebo6. will crush when launch."
turtlebot present gazebo(version 2.3) launch doesn't compatible gazebo6. will crush when launch.
I update my gazebo version, and find turtlebot gazebo cannot be used....

[2017-04-29 13:14] wangzhaodong123 opened #65 "‘LightPtr’ is not a member of ‘gazebo::physics’"
When i catkin_make my workspace including turtlebot_simulator pkg, the problem happened:
/home/wangzhaodong/ros/src/gazebo_ros/src/gazebo_ros_api_plugin.cpp: In member function ‘bool gazebo::GazeboRosApiPlugin::deleteLight(gazebo_msgs::DeleteLight::Request&, gazebo_msgs::DeleteLight::Response&)’:
/home/wangzhaodong/ros/src/gazebo_ros/src/gazebo_ros_api_plugin.cpp:783:3: error: ‘LightPtr’ is not a

[2017-05-01 07:03] tfoote commented on #65
Can you please clarify what versions of packages you are running? Such as Ubuntu, ROS, gazebo, turtlebot_simulator, and any other package in your installation or workspace tree that might be relevant to reproduce the error.

[2017-05-06 00:19] wangzhaodong123 commented on #65
Thanks for advise.After installing gazebo7, I met another problem when i catkin_make my work_space:
Could not find a package configuration file provided by "gazebo" with any
  of the following names:

    gazeboConfig.cmake
    gazebo-config.cmake
Could you tell me why? Thank you.

[2017-05-06 00:19] #65 closed

[2017-05-18 09:20] onlytailei opened #66 "how to add noise to the camera model?"
Can we do it like in the gazebo sdf file?
http://gazebosim.org/tutorials?tut=sensor_noise#Cameranoise

[2017-05-18 17:05] tfoote commented on #66
Yes, the turtlebot simulator is a gazebo instance. You need to modify the turtlebot_description https://github.com/turtlebot/turtlebot/blob/kinetic/turtlebot_description/urdf/turtlebot_gazebo.urdf.xacro#L9

Please ask questions on http://answers.ros.org according to our support policy: http://wiki.ros.org/Support We try to keep the issue tracker reserved for bugs and feature developments.

[2017-05-18 17:05] #66 closed

[2017-05-23 16:33] onlytailei opened #67 "In ros kinetic and gazebo 8, the gazebo is not subscribing the mobile_base/commands/velocity"
I installed gazebo8 and ros kinetic as the instructions from http://gazebosim.org/tutorials/?tut=ros_wrapper_versions#Gazebobuiltfromsource.

When I start the launch file in turltebot_gazebo.
It seemed that mobile_base/commands/velocity is not subscribed by gazebo node.
It never happens in gazebo 7/2 with ros indigo.
Then how can I control the robot in gazebo through ROS?

[2017-05-23 16:34] onlytailei commented on #67
The turlebot_simulator is compiled in workspace from source.

[2017-05-26 01:09] tfoote commented on #67
Can you please provide more specific details about how to reproduce your problem. What your workspace is and exactly the console outputs from your debugging that the node is not subscribing.

[2017-05-26 08:42] onlytailei commented on #67
Sorry, just find that I need to compile the kobuki also from the source as well.

[2017-06-29 11:16] kivrakh commented on #67
Hi,
I could not compile the kobuki from source because it gave a lot of errors since some functions are deprecated. That's why I couldn't move the turtlebot using turtlebot_teleop package. Have you accomplished to move turtlebot?

[2017-06-29 12:39] onlytailei commented on #67
@hassan82  I just compile it from source. Nothing is wrong.
Remember to compile all of the dependencies from source.

[2017-07-01 13:33] kivrakh commented on #67
Thanks @onlytailei for the help. I explain more about here to anyone who has this problem:

Install the **kobuki**, **kobuki_core**,  **kobuki_desktop**,  **kobuki_msgs** packages as _kinetic devel_ into your catkin workspace from:

[https://github.com/yujinrobot?language=&page=3&q=&type=&utf8=%E2%9C%93](url)

After that, run this command:

`rosdep install --from-paths src -i -y`

Finally, install

[2017-09-15 16:40] 130s commented on #62
Same from me.
In the following error I just encountered, the new version of the upstream (`turtlebot_navigation`) is already available as binary but deb of `turtlebot_gazebo` is still old and does not reflect the latest change already made in the source.

[code]

[2017-09-16 00:04] rohbotics commented on #62
@tfoote Are you planning on running a release?

[2017-09-18 02:51] tfoote commented on #63
If you update your gazebo version, you will need to recompile all the gazebo plugins against that version of gazebo, and possibly update the API.

There are tutorials for running different versions of gazebo with ROS packages here: http://gazebosim.org/tutorials/?tut=ros_wrapper_versions

[2017-09-18 02:51] #63 closed

[2017-09-18 07:18] tfoote commented on #59
Please ask questions on https://answers.ros.org we try to answer questions there and reserve the issue tracker for bugs and development discussions.

[2017-09-18 07:18] #59 closed

[2017-09-18 07:18] #53 closed

[2017-09-18 07:27] tfoote commented on #67
Without more details such as debugging outputs, there's not enough information here to debug. I'm going to close this. If there's more details please comment back here and we can reopen.

[2017-09-18 07:27] #67 closed

[2017-09-18 07:38] tfoote commented on #48
When you reset the world, time jumps backwards. Some algorithms/implementations are not robust to that. Or they may abort behaviors if those time jumps are detected.

I cannot reproduce the issue using keyboard_teleop. The vehicle does get reset back to the origin with zero speed, but can be driven immediately afterwards. I'm going to close as I can't reproduce the issue.

[2017-09-18 07:38] #48 closed

[2017-09-18 08:07] tfoote commented on #62
https://github.com/ros/rosdistro/pull/15939
https://github.com/ros/rosdistro/pull/15938

[2017-09-18 08:07] #62 closed

[2018-10-20 07:21] ulassbin opened #69 "IMU data has huge covariance"
Hello I am currently trying to fuse some sensors with IMU on the turtlebot to improve the readings. However I have noticed that the IMU has huge covariances in orientation and angular_velocity field( As shown below).  Is there a way to fix this?
Thanks.
![image](https://user-images.githubusercontent.com/38883137/47252705-c22d7a80-d451-11e8-977a-20274c0edcdc.png)

[2018-10-22 07:27] tfoote commented on #69
Can you please be more specific about what you'd like to see it changed to? Also what version of the simulation are you running with what versions of the turtlebot? And what launch files would be helpful.

As a side note we also ask that you copy and pasted console text as text and not screenshot it. Text output from the screenshot cannot be searched or copy and pasted.

[2018-10-23 07:28] ulassbin commented on #69
Thanks for the quick reply. I have just started coding in ROS so thanks for the tips as well. So my ROS distribution is kinetic. I am launching the simulation as "roslaunch turtlebot_gazebo turtlebot_world.launch". I am not sure about the version but the file named "turtlebot_gazeboConfig-version.cmake" has this line in it "set(PACKAGE_VERSION "2.2.3")" so the version might be 2.2.3 . I don't know

[2018-10-23 22:29] tfoote commented on #69
You should be able to adjust the covariance. However I'll note that I believe that those covariances are set very high to indicate that they're effectively not being measured. And that you should only rely on the Z rotation information. On the TB1 we only had a 1 axis gyro which this is likely set for.

[2018-10-26 07:14] ulassbin commented on #69
Thanks for the feedback.

[2018-10-26 07:14] #69 closed

[2018-11-22 09:30] jinfagang opened #70 "Install on melodic"
Does this robot can upgrade to melodic?  As the Ubuntu 19.04 will come out, ubuntu18.04 should be support now

[2018-11-26 07:49] tfoote commented on #70
The TurtleBot packages have not been tested or released on melodic yet. I do expect the to be released there, but do not have a timeline when to expect it to land.

[2019-01-26 15:33] DanielArnett opened #74 "Turtlebot sim not moving: [map] does not exist"
I'm trying to drive the turtlebot in Gazebo. I've done this quite a few times, but now isn't working for some reason. I've done it before on Indigo, but struggling on Kinetic.

My installation procedure:

1. Install ROS Kinetic on Ubuntu 16.04
2. Install Catkin
3. Install gazebo

[code]

Now I try to run gazebo

1. Run turtlebot gazebo
`roslaunch turtlebot_gazebo turtlebot_world.launch`
2. Run tel

[2019-01-29 02:33] tfoote commented on #74
If you don't have a localization algorithm running the connectivity to the `map` frame is not expected. If you change the "Fixed Frame" in the rviz global options to something like `base_link` or `base_footprint`

![image](https://user-images.githubusercontent.com/447804/51880172-1c7c8800-232b-11e9-8909-de4a0047c20e.png)

[2019-01-29 02:46] DanielArnett commented on #74
That's fine but it still can't drive. I've tried teleop and some of the
standard autonomy packages with no luck. Again I had no issues on Indigo,
not that I think Kinetic is necessarily the problem.

On Mon, Jan 28, 2019, 21:33 Tully Foote <notifications@github.com wrote:

[2019-01-29 08:47] tfoote commented on #74
I tried to reproduce this but it seems to teleoperate fine. Here's what I did. https://gist.github.com/tfoote/432813cd6f654b7ac6504a65fd5f27c4

From this clean install there's likely things different about your environment that you will need to determine.

[2019-01-29 15:32] DanielArnett commented on #74
@tfoote Fantastic, thank you! I'll purge everything ROS related and give this a go.

[2019-05-27 03:53] MsMimi opened #75 "Inaccurate Gmapping Map with Gazebo 8 and ROS Kinetic"
I installed gazebo8 and ros kinetic as the instructions from https://medium.com/@abhiksingla10/setting-up-ros-kinetic-and-gazebo-8-or-9-70f2231af21a.  I need gazebo 8 since Im using VMware Fusion on MacBook.  Next I install most of turtlebot packages using apt-get, while turtlebot_simulator, kobuki_desktop, and kobuki_msgs from source.

When I try to run turtlebot_gazebo gmapping demo and visualiz

[2019-05-29 07:00] taletovic opened #76 "Kinetic branch"
Hello, I've read in this pull request:

[https://github.com/ros/rosdistro/pull/12387](url)

that there is already kinetic distro for this old turtlebot package.
However, there is no kinetic branch to clone into.

Using this package with my catkin workspace, I couldn't get the turtlebot to move with turtlebot_teleop from this package:
[turtlebot](https://github.com/turtlebot/turtlebot)

But when I

[2019-07-25 13:07] manox opened #77 "Turtlebot unintentionally moving by itself in Gazebo"
When I start a simulation of the Turtlebot in Gazebo, it is slowly moving by itself (linear and angular). If I check the 'odom' messages published by Gazebo, there is always a small twist (linear x und angular z). After some minutes you can clearly see the changed pose in the Gazebo GUI. This is also happening to some other simple objects spawned in Gazebo (like cylinders). I already testet other

[2019-07-25 14:23] corot commented on #77
Yet another case of Gazebo fanciness...  I was playing with this recently. I didn't manage to find a configuration working realistically, but two changes seem to help and remove the drift:
- Increase solver iterations, e.g. 50  →  500  (but of course increases CPU load)
- remove [kp, kd](https://github.com/yujinrobot/kobuki/blob/devel/kobuki_description/urdf/kobuki_gazebo.urdf.xacro#L8) parameters

[2019-07-25 15:03] manox commented on #77
Thanks for the suggestions, but both don't work for me.
Increasing the solver iterations even makes it worse (for whatever reason, for example with 500 iterations the turtlebot even kind of hops) and removing kp and kd parameters for both motor wheels does not change anything.
Edit: With 10000 solver iterations it gets a bit better, but unfortunately it's not good yet.

[2020-01-28 11:02] AnuragSahu commented on #70
The TurtleBot packages for melodic have been released and I am interested to contribute the melodic versions for turtlebot_simulator.

[2020-01-30 02:24] tfoote commented on #70
If you can test from source and validate that everything appears to be working we can make a release.

[2020-02-27 05:29] AnuragSahu commented on #70
The Release has been Made! The Melodic Branch is now available. @corot close this issue.

[2020-02-27 13:55] corot commented on #70
Sorry, I'm a bit confused.. what do you mean with the release has been made? I cannot see any turtlebot_xxxx pkg on http://repositories.ros.org/status_page/ros_melodic_default.html...
Nor any PR on https://github.com/ros/rosdistro

[2020-03-15 03:00] busFred commented on #70
I git clone the repository and set the environment variable. However, it seems like lacking a crucial package that is not compatible with ros melodic
[code]

[2020-04-06 08:10] corot commented on #77
Did you solve the problem? If not, and if you are not using kobuki sources, can u apply this change?
https://github.com/yujinrobot/kobuki/commit/f2d83ce467ff52c6c20fefaf0a54d3464e3a212e
Probably is not related, but with gazebo who knows

[2020-04-07 10:16] manox commented on #77
No, unfortunately the problem is still not solved. Thanks for the advice, but the fix doesn't change the behaviour. As I described above, the problem also exists with other objects in gazebo.
I haven't been working on gazebo much lately, but I'm surprised that other people don't seem to struggle with the problem. I have also tested gazebo 9, I can't remember exactly how the behaviour differed ther

[2020-04-07 10:42] corot commented on #77
:disappointed:  for other objects, u can try to set kinematic to 1:
`<kinematic>1</kinematic>`
I ignore the details, but this stops the trembling of some the objects u set;
See http://sdformat.org/spec?ver=1.7&elem=link#link_kinematic

Maybe u can try the same trick with TB2, but no idea which weird effects this can happen. Please let me know if u try

[2020-04-24 07:42] ibrahimqazi opened #79 "[ INFO] [1587713831.834638690]: waitForService: Service [/gazebo/set_physics_properties] has not been advertised, waiting..."
Hello
I have this issue there is showing nothing on Gazebo simulator. When I run this command:
`roslaunch turtlebot_gazebo turtlebot_world.launch`
I installed the package using:
`sudo apt-get install ros-kinetic-turtlebot`
Can someone help me with this.
Thanks a lot

[2020-04-24 07:46] #79 closed

[2020-05-21 11:47] srediske opened #80 "Can't start simulation: Cannot load command parameter [robot_description]..."
delete

[2020-05-25 12:38] #80 closed

[2020-06-12 07:07] teshanshanuka commented on #70
Getting a similar issue. This searches for `turtlebot-xxxx` packages but melodic pkgs are `turtlebot3-xxxx`

EDIT: I did not find a solution and moved on to use turtlebot3 for my task

[2020-07-24 14:50] jvaishnav commented on #70
I am facing the same issue as busFred and teshanshanuka with melodic distro. Has anyone found a solution?

[2020-07-27 10:38] corot commented on #70
You need to create a catkin workspace containing all the code listed on https://github.com/turtlebot/turtlebot_simulator/blob/melodic/turtlebot_simulator.rosinstall (plus dependencies).
[This wiki](http://wiki.ros.org/wstool) explains how to

[2020-07-27 20:26] jvaishnav commented on #70
Hello Jorge,
Thanks for getting in touch. Although i figured that the problem was for
melodic *"turtlebot3"  *is the package that i have to use in order to setup
the turtlebot and once i did that, it worked like a charm. Thank you. I
really appreciate it.
Kind regards,
Jay Vaishnav

On Mon, 27 Jul 2020 at 06:38, Jorge Santos Simón <notifications@github.com>
wrote:

[2021-06-16 11:33] wbadry opened #81 "[Request] Noetic support"
Hello,
Is it possible to have a branch with noetic support? Thanks

[2022-02-03 11:41] kankanzheli opened #82 "Problems after installation"
After I install the "turnbot_simulator", whenever I open a new terminal, I will report:
[rospack] Error: package 'turtlebot_gazebo' not found
[rospack] Error: package 'turtlebot_gazebo' not found
[rospack] Error: package 'turtlebot_stage' not found
[rospack] Error: package 'turtlebot_stage' not found
[rospack] Error: package 'turtlebot_stdr' not found

How to solve that problem?